:root{
    --color-p-orange: hsl(26, 100%, 55%);
    --color-p-porange: hsl(25, 100%, 94%);
    --color-n-varkblue: hsl(220, 13%, 13%);
    --color-n-darkgrayishblue: hsl(219, 9%, 45%);
    --color-n-grayishblue: hsl(220, 14%, 75%);
    --color-n-lightgrayishblue: hsl(223, 64%, 98%);
    --color-n-white: hsl(0, 0%, 100%);
    --color-n-black: hsl(0, 0%, 0%);
}
*{
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
}

.header{
    padding: 0 5%;
    box-sizing: border-box;
}
.header-content, .icons, .nav{
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    padding-left: 15%;
    display: flex;
    list-style: none;
    gap: 33px;
}
.icons{
    width: 12%;
}
.icons a img{  
    inline-size: 3em;
}
#cart img{
    inline-size: 1.5em;
}
p{
    font-size: 16px;
}
:hover :link{
    color: black;
}
.container{
    box-sizing: border-box;
    padding: 5% 6%;
}
.product{
    margin: 0;
    width: 50%;
    float: left;
    box-sizing: border-box;
    align-items: center;
}
.product-1{
    text-align: center;
}
.product-1 img{
    
    inline-size: 85%;
    border-radius: 10%;
}
.products ul{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    display: flex;
    list-style: none;
    gap: 0;
}
.products ul li a img{
    inline-size: 73%;
}
.product-details{
    font-size: 1.5em;
    padding: 5% 3%;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.attribution{
    display: block;
}
.wraper {
    max-inline-size: 1110px;
    margin: auto;
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .product, .product-details{
        width: 100%;    
    }

}
@media screen and (max-width: 705px) {
    .menu ul{
        display: none;
    }

}